*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 0%;

}

body {
    background-color: #212529;
}

.navbar-default {
    background: url(../img/transparentShapesMainNav.png), linear-gradient(270deg, #09069f 0, #68217A 100%);
    background-repeat: no-repeat;
    box-shadow: 0 5px 2px 0 rgb(0 0 0 / 30%);
    color: white; /* Asegúrate de que el texto sea visible */
    padding: 15px; /* Ajusta el padding según sea necesario */
    
}



h3 {
    margin: 0;
    padding-left: 5em;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: inline-block;
}

.navbar-nav li{
    display: inline;
    margin: 0, 10px;
}

nav a{
    text-decoration: none;
    color: white;
    margin-left: 3em;
}

nav a:hover{
    color: rgb(174, 157, 209);

}

.romina {
    color: #68217A; /* Un morado vibrante, similar a Visual Studio/C# */
  }

.uno{
    background-color:#1f1f1f;
    padding: 10%;
    height: 100%;
    
}



img{
    width: 15%;
    /*margin: auto;*/
    /*border: 2px groove lightgray;*/
}

.logo{
    width: 25%;
    /*height: 20%;*/
    /*margin: auto;*/
}

.sql{
    width: 20%;
    /*margin: auto;*/
    /*border: 2px groove lightgray;*/

}

.h2_claro{
    text-align: center;
    padding: 3%;
    color:rgb(197, 164, 248);   
}

h2 {
    text-align: center;
    padding: 3%;
    color:#68217A;   
}

#cursos{
    margin: 2% 30%;
    color: rgb(95, 39, 206);
    color:whitesmoke;
    text-align: center;
    
}

#parrafo{
    color: rgb(85, 53, 148);
    padding: 5%;
    margin: auto;
    text-align: center;
    width: 25%;
    color: whitesmoke;
    font-family: verdana;
    border: 2px solid rgb(52, 23, 109);
    box-shadow: 10px 10px 15px rgb(87, 63, 136);
}

.img__perfil{
    
   box-shadow: rgb(223, 214, 214);
}

.dos{
    background-color: #212529;
}

.tres{
    background-color: #212529;
    
}

.imagenes_1{
    background-color: lightgray;
    margin: auto;
    width: 50%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;*/
    justify-content: space-evenly;
    /*align-content: space-evenly;*/
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    

}

.imagenes_2{
    background-color: lightgray;
    margin: auto;
    width: 50%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    

}

.cuadro{
    padding: 3%;
    margin: auto;
    text-align: center;
    width: 25%;
    color: whitesmoke;
    font-family: verdana;
    border: 2px groove rgb(52, 23, 109);
    /*display: grid;
    grid-template-columns: auto auto;
    gap: 20px;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}

label {
    /*grid-column: 1 / 2; */
    text-align: left; 
    margin-bottom: 2%;
}

input[type="text"],
input[type="email"],
textarea,
input[type="submit"] {
    margin-bottom: 3%; 
    background-color: darkgray;
}

input[type="submit"] {
    align-self: center;
    padding: 2%;
    width: 25%;
    background-color: blueviolet;
    color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    
    transition: 0.5 ease;
    cursor: pointer;
}

:focus{
    outline: 1px solid rgb(142, 127, 238);
}

input[type="submit"]:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.img-ajustada {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

.img-container {
    width: 100%;
    height: 50%; /* Tamaño uniforme */
    overflow: hidden; /* Evita que sobresalga */
}

.card-bordered {
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }

.card-title{
    color: #68217A;}



.card-ver a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: blueviolet;
    color: white;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    transition: all 0.3s ease;
}


.card-ver a:hover {
    transform: scale(1.05);
  }

div.card.h-100 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

    div.card.h-100:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    }

.card-curso {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-curso:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.contenedor__principal {
    width: 75%;
}

svg {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0;
    margin-bottom: -1px;
  }

footer{
    background-color: #1f1f1f;
    /*padding: 1%;
    margin: auto;
    display: flex;
    justify-content: center;*/
    
          
}



.modal-dialog {
    max-width: 90vw; /* Para que el modal sea más ancho */
}

.modal-body img {
    max-height: 90vh; /* Para que la imagen se ajuste mejor a la pantalla */
    width: auto;
    height: auto;
}

